<nav mdbNavbar class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top d-flex">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="https://www.altay.com.tr/">
      <!-- SVG Logo -->
      <svg width="61" height="50" viewBox="0 0 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
          <path d="M0 25L29.4604 0L60.1852 25L31.6099 5.80808L54.9379 25L31.2305 9.59596L49.6907 25L31.0409 13.5101L44.8228 25L30.5351 17.298L39.5123 25L30.1558 21.149L34.4548 25H0Z" fill="white"></path>
          <path d="M5.37369 28.1565H3.35066L0.0632324 49.9999H1.07475L2.33914 40.9722H4.93115L6.19555 49.9999H8.34502L5.37369 28.1565ZM2.40236 40.1514L3.54032 32.1969H3.7932L4.86793 40.1514H2.40236Z" fill="white"></path>
          <path d="M44.8228 28.1565H42.863L39.5756 49.9999H40.5871L41.8515 40.9722H44.4435L45.7079 49.9999H47.8573L44.8228 28.1565ZM41.8515 40.1514L42.9894 32.1338H43.2423L44.317 40.0883H41.8515V40.1514Z" fill="white"></path>
          <path d="M16.5636 28.1565H13.9716V49.9999H19.9774V49.1792H16.5003L16.5636 28.1565Z" fill="white"></path>
          <path d="M32.8111 28.1565H25.6672V28.9772H28.0064V49.9999H30.5352V28.9141H32.8111V28.1565Z" fill="white"></path>
          <path d="M52.4724 28.1565H54.938L56.8978 37.8787L59.0473 28.1565H59.9956L57.3403 39.9621L57.2771 49.9999H54.8115V39.9621L52.4724 28.1565Z" fill="white"></path>
          <path d="M54.6851 2.77776C54.6851 1.26261 55.8862 0.0631104 57.4035 0.0631104C58.9208 0.0631104 60.122 1.26261 60.122 2.77776C60.122 4.22978 58.9208 5.4924 57.4035 5.4924C55.8862 5.4924 54.6851 4.29291 54.6851 2.77776ZM59.6794 2.77776C59.6794 1.51513 58.6679 0.441898 57.4035 0.441898C56.0759 0.441898 55.1276 1.452 55.1276 2.77776C55.1276 4.04038 56.1391 5.05048 57.4035 5.05048C58.7311 5.11362 59.6794 4.04038 59.6794 2.77776ZM56.3288 1.26261H57.5932C57.9725 1.26261 58.2886 1.38887 58.4782 1.57826C58.6047 1.70452 58.7311 1.95705 58.7311 2.20958C58.7311 2.65149 58.4782 2.96715 58.0989 3.09341L58.7943 4.10351H58.1621L57.4667 3.15654H56.8978V4.16665H56.3288V1.26261ZM57.5299 2.65149C57.9093 2.65149 58.0989 2.4621 58.0989 2.20958C58.0989 1.89392 57.9093 1.76766 57.5299 1.76766H56.8345V2.65149H57.5299Z" fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="60.1852" height="50" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
    <button mdbCollapseToggle class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div mdbCollapse class="collapse navbar-collapse ms-5" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Malzeme
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="../../index.html">Yeni Ürün Oluştur</a></li>
            <li><a class="dropdown-item" href="#">Ürün Girişi Yap</a></li>
            <li><a class="dropdown-item" href="#">Lot ve Seri Numarası(Giren Ürünler)</a></li>
            <li><a class="dropdown-item" href="#">Ürün Çıkışı</a></li>
            <li><a class="dropdown-item" href="#">Çıkarılan Ürünlerin Geldiği Ürünler</a></li>
            <li><a class="dropdown-item" href="#">Tam Ürün Oluştur</a></li>
            <li><a class="dropdown-item" href="#">Kaç Ürün Çıkar</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stok
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Anlık Stok</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mamül
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Yarı Mamül İş Emri Oluştur</a></li>
            <li><a class="dropdown-item" href="#">Yarı Mamül Oluştur</a></li>
            <li><a class="dropdown-item" href="#">Yarı Mamül İçerisindeki Seri Numaraları Göster</a></li>
            <li><a class="dropdown-item" href="#">Mamül İş Emri Oluştur</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            BOM
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">BOM Oluştur</a></li>
            <li><a class="dropdown-item" href="#">BOM İçerikleri</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle me-3" href="#" id="personDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user fa-sm"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="personDropdown">
            <li><a class="dropdown-item" href="#">Profil</a></li>
            <li><a class="dropdown-item" *ngIf="isAdmin()" [routerLink]="['/admin-dashboard']" routerLinkActive="active">Admin Panel</a></li>
            <li><a class="dropdown-item"  href="#" (click)="authService.logout()">Çıkış</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
